<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/header.css">
    <link rel="stylesheet" href="../static/css/main_flights.css">
</head>
<body>
    <header>
        <div class="header-left">
            <h1>Расписание транспорта</h1>
        </div>

        <div class="header-right">
            <!-- Блок 1: надпись + две кнопки (Откуда и Куда) -->
            <div class="form-group">
                <div>Выберите город(а):</div>
                <div class="button-group">
                    <input type="text" placeholder="Откуда">
                    <input type="text" placeholder="Куда">
                </div>
            </div>

            <!-- Блок 2: надпись + кнопка (Когда) -->
            <div class="form-group">
                <div>Выберите дату:</div>
                <button>Когда</button>
            </div>

            <!-- Блок 3: надпись + кнопка (Тип) -->
            <div class="form-group">
                <div>Выберите тип транспорта:</div>
                <select name="" id="">
                    <option value="" selected>Автобус</option>
                    <option value="">Электричка</option>
                    <option value="">Поезд</option>
                </select>
            </div>

            <!-- Блок 4: просто кнопка (Найти) -->
            <div class="find-btn">
                <button>Найти</button>
            </div>

            <!-- Блок 5: надпись + кнопка (Профиль) -->
            <div class="profile-btn">
                <div>Войти в профиль (для сотрудников):</div>
                <button><img src="../static/images/Профиль.svg" alt=""></button>
            </div>
        </div>
    </header>
    <main>
        <div class="info-header">
            <h5>Расписание рейсов из города отправления в город прибытия</h5>
            <div class="date">Дата: 12.04.2026, суббота</div>
        </div>
    
    <div class="route-card">
        <img class="route-icon" src="../static/images/Автобус.jpg" alt="">
        <div class="route-content">
            <a href="" class="route-title">24 Талдом - Дубна</a>
            <div class="route-details">
                <div>06:35</div>
                <div>Идет 60 минут</div>
                <div>07:35</div>
            </div>
        </div>
    </div>

    <div class="route-card">
        <img class="route-icon" src="../static/images/Автобус.jpg" alt="">
        <div class="route-content">
            <a href="" class="route-title">24 Талдом - Дубна</a>
            <div class="route-details">
                <div>06:35</div>
                <div>Идет 60 минут</div>
                <div>07:35</div>
            </div>
        </div>
    </div>
    </main>
</body>
</html>