<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Расписание остановки</title>
    <link rel="stylesheet" href="../static/css/header.css">
    <link rel="stylesheet" href="../static/css/stop_schedule.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
</head>
<body>
    {% include 'components/header.html' %}
    
    <main>
        <div class="info-header">
            <h5>
                Расписание остановки{% if stop_info %}"{{ stop_info.stop_name }}"{% if stop_info.settlement_name %} ({{ stop_info.settlement_name }}){% endif %}{% endif %}
            </h5>
            <div class="date">
                Дата: {{ display_date }}
            </div>
        </div>

        {% if error_message %}
            <div class="error-message">
                {{ error_message }}
            </div>
        {% endif %}

        {% if schedule_data %}
            {% for route in schedule_data %}
            <div class="route-card">
                <img class="route-icon" src="../static/images/Автобус.jpg" alt="{{ route.transport_type }}">
                <div class="route-content">
                    <div class="route-title">
                        {{ route.route_number }} {{ route.route_name }}
                    </div>
                    <div class="route-details">
                        <div>Время отправления: 
                            {% for time in route.departure_times %}
                                <a href="/route/{{ route.route_id }}?date={{ date_str }}&day={{ weekday_id }}&trip={{ route.trip_numbers[loop.index0] }}&time={{ time }}" class="time-link">{{ time }}</a>{% if not loop.last %}, {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        {% else %}
            <div class="no-results">
                <p>😕 Расписание для этой остановки на выбранную дату не найдено</p>
            </div>
        {% endif %}
    </main>

    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/ru.js"></script>
    <script src="../static/js/calendar.js"></script>
</body>
</html>