<header>
    <div class="header-left">
        <h1>Расписание транспорта</h1>
    </div>

    <form method="POST" action="/" class="header-right">
        <div class="form-group">
            <div>Выберите город(а):</div>
            <div class="button-group">
                <input type="text" name="from" placeholder="Откуда" value="{{ search.from }}">
                <input type="text" name="to" placeholder="Куда" value="{{ search.to }}">
            </div>
        </div>

        <div class="form-group date-group">
            <div>Выберите дату:</div>
            <div class="date-wrapper">
                <button type="button" id="dateButton">{% if search.date %}{{ search.date }}{% else %}Сегодня{% endif %}</button>
                <input type="text" id="datePicker" name="date" style="display: none;" value="{{ search.date }}">
            </div>
        </div>

        <div class="form-group">
            <div>Выберите тип транспорта:</div>
            <select name="transport_type">
                <option value="Автобус" {% if search.transport_type == 'Автобус' %}selected{% endif %}>Автобус</option>
                <option value="Поезд" {% if search.transport_type == 'Поезд' %}selected{% endif %}>Поезд</option>
                <option value="Электричка" {% if search.transport_type == 'Электричка' %}selected{% endif %}>Электричка</option>
            </select>
        </div>

        <div class="find-btn">
            <button type="submit">Найти</button>
        </div>

        <div class="profile-btn">
            {% if user.is_authenticated %}
                <div>{{ user.name }} ({{ user.role }})</div>
                {% if user.show_dashboard_btn %}
                    <button type="button" id="openDashboardBtn" class="dashboard-toggle-btn">Панель управления</button>
                {% endif %}
                <a href="/logout" class="logout-link">Выйти</a>
            {% else %}
                <div>Войти в профиль (для сотрудников):</div>
                <button type="button" class="login-icon-btn" onclick="location.href='/login'">
                    <img src="../static/images/Профиль.svg" alt="Войти">
                </button>
            {% endif %}
        </div>
    </form>
</header>